@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --cod-gray-50: #f7f7f7;
  --cod-gray-100: #e3e3e3;
  --cod-gray-200: #c8c8c8;
  --cod-gray-300: #a4a4a4;
  --cod-gray-400: #818181;
  --cod-gray-500: #666666;
  --cod-gray-600: #515151;
  --cod-gray-700: #434343;
  --cod-gray-800: #383838;
  --cod-gray-900: #313131;
  --cod-gray-950: #141414;
  --profile-url: url("./images/white-cat.jpg");
}

body {
  margin: 0;
  font-family: Karla;
  font-size: 24px;
  color: var(--cod-gray-800);
}

.App {
  display: flex;
  flex-direction: column;
  gap: 20vh;
}

h2 {
  font-size: 40px;
  color: var(--cod-gray-950);
  font-weight: bold;
  margin: 0;
}

h3 {
  font-size: 32px;
  font-weight: bold;
  color: var(--cod-gray-900);
  margin: 0;
}

a {
  color: var(--cod-gray-950);
}

p {
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vh 10vw;

  background: linear-gradient(165deg, var(--cod-gray-100) 50%, transparent 50%);
}

.profile-pic-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.profile-pic {
  border: 3px solid var(--cod-gray-50);

  max-width: 528px;
}

.my-name {
  position: absolute;
  bottom: 5%;
  margin: 0;
  color: var(--cod-gray-200);
}

.presentation {
  display: flex;
  align-items: center;
}

.presentation-text {
  background-color: var(--cod-gray-50);
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.presentation-socials {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.project-screenshot {
  width: 20vw;
}

main {
  padding: 0 10vw;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 50px;
}

.project-card {
  display: flex;
  flex-direction: column;
  width: fit-content;

  border: 1px solid var(--cod-gray-200);
}

.project-screenshot {
  width: 100%;
}

.project-info {
  padding: 16px;

  background-color: var(--cod-gray-50);
}

.project-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.project-links {
  display: flex;
  gap: 15px;
}

.project-description {
  color: var(--cod-gray-700);
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 20px;
  background-color: var(--cod-gray-100);
}

.footer-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.contacts p {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-img {
  width: 30vw;
  background: 3px solid var(--cod-gray-50);
}

.socials {
  display: flex;
  gap: 10px;
}

@media (max-width: 1000px) {
  .presentation {
    display: block;
  }
  .presentation-text {
    display: block;
    margin-top: 100px;
    margin-left: 15vw;
    padding: 15px 20px;
  }
  .presentation-text h2 {
    margin-bottom: 16px;
  }

  .profile-pic-container {
    float: left;
    margin: 0 16px;
  }

  .profile-pic {
    max-width: 400px;
  }

  .projects-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 30px;
  }
}

@media (max-width: 500px) {
  header {
    background: linear-gradient(
      140deg,
      var(--cod-gray-100) 25%,
      transparent 25%
    );
  }

  body {
    font-size: 18px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 24px;
  }

  .presentation {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .profile-pic {
    max-width: 280px;
  }

  .presentation-text {
    display: flex;
    margin: 0;
    background: none;
    gap: 8px;
  }

  .presentation-text h2 {
    margin-bottom: 0px;
  }

  .projects-container {
    grid-template-columns: 1fr;
  }

  footer {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .footer-img {
    width: 250px;
  }
}
